<h1>Add Classification</h1>
<form action="./add-classification.ejs" method="post">
  <label for="classificationName">Classification Name:</label>
  <input type="text" id="classificationName" name="classification_name" required pattern="^[a-zA-Z0-9]+$" />
  <button type="submit">Add Classification</button>
</form>