<h1>Inventory Management</h1>
<% if (flash) { %>
  <p class="flash-message"><%= flash.notice %></p>
<% } %>
<ul>
  <li><a href="./add-classification.ejs">Add New Classification</a></li>
  <li><a href="./add-inventory.ejs">Add New Inventory Item</a></li>
</ul>